@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.roboto-regular {
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.detail-services-container {
  display: flex;
  flex-direction: column !important; /* Default to column on small screens */
}

@media (min-width: 768px) {
  .detail-services-container {
    flex-direction: row !important; /* Change to row on medium and larger screens */
  }
}
